<div class="w-full">

  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl">Articles</h1>
  </div>

  <%= form_with(url: search_articles_path, class: "contents", data: { controller: 'form-submission', 'form-submission-target': 'form'}) do |form| %>
  
    <%= form.hidden_field :finished, value: false, data: { 'form-submission-target': 'finished'} %>
  
  <div class=" flex justify-center items-center gap-5">
    <%= form.label :query, "Search by title:", class: 'hidden' %>
    <%= form.text_field :query, placeholder: 'Search by title...', data: { action: "input->form-submission#search blur->form-submission#create" } %>
  </div>
  <% end %>

  <%= render 'list', articles: @articles %>
</div>
